table, tr {
    width: 95%;
}

td {
    text-align: center;
    border: #000000 solid 3px; /* black */
}
#text{
	background-color: #0098Da;
}
body {
    background-color: #F5FBF5; /* light gray */
}

#menu {
    background-color: #0098Da; /* soft blue */
}

#img {
    background-color: #ECF0F1; /* light grayish blue */
}

#f {
    height: 20px;
    background-color: #333333; /* dark gray */
    color: #FFFFFF; /* white */
}

button {
    width: 80%;
    height: 32px;
    background-color: orangered;
    border: #000000 solid 1px;
    margin: 2px;
}

#g, #kl, #s, #ku, #h, #kr, #w, #c,
#gm, #klm, #sm, #kum, #hm, #krm, #wm, #cm {
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    display: none;
    color: black;
    font-size: 150%;
background-color: #0098Da;
    td {
        text-align: center;
        border: #000000 solid 3px; /* black */
        width: 50%;
    }
}

#g.active, #kl.active, #s.active, #ku.active, #h.active, #kr.active, #w.active, #c.active,
#gm.active, #klm.active, #sm.active, #kum.active, #hm.active, #krm.active, #wm.active, #cm.active {
    display: block;
    color: black;
}

@media only screen and (min-width: 1302px) and (orientation: landscape) {
    #d {
        display: block;
    }

    #m {
        display: none;
    }
}

@media only screen and (max-width: 1302px) and (min-width: 1042px) and (orientation: landscape) {
    #d {
        display: block;
    }

    #m {
        display: none;
    }
}

@media only screen and (max-width: 1042px) and (min-width: 942px) and (orientation: landscape) {
    #d {
        display: block;
    }

    #m {
        display: none;
    }
}

@media only screen and (min-width: 942px) and (min-width: 742px) and (orientation: portrait) {
    #d {
        display: none;
    }

    #m {
        display: block;
    }
}

@media only screen and (max-width: 742px) and (min-width: 442px) and (orientation: portrait) {
    #d {
        display: none;
    }

    #m {
        display: block;
    }
}

@media only screen and (max-width: 442px) and (min-width: 282px) and (orientation: portrait) {
    #d {
        display: none;
    }

    #m {
        display: block;
    }
}

@media only screen and (max-width: 282px) {
    #d {
        display: none;
    }

    #m {
        display: block;
    }
}
